* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field-container {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
  width: 550px;
  height: 550px;
  margin: 50px auto;
  outline: 3px solid black;
  /* padding: 20px; */
  justify-content: center;
  align-content: center;
}

.markup-cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.markup-cell:first-child {
  background-color: #000000;
}

.field {
  grid-area: 2 / 2 / 12 /12;
  outline: 2px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.375) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.375) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: left left;
}
