* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #000000;
  --cell-side-size: 50px;
  --two-cells-ship-color: #7f007f;
  --three-cells-ship-color: #00ff01;
  --four-cells-ship-color: #0000ff;
  --six-cells-ship-color: #ff4800;
}

.field-container {
  display: grid;
  grid-template-columns: repeat(11, var(--cell-side-size));
  grid-template-rows: repeat(11, var(--cell-side-size));
  width: calc(11 * var(--cell-side-size));
  height: calc(11 * var(--cell-side-size));
  margin: var(--cell-side-size) auto;
  outline: 4px solid var(--border-color);
}

.markup-cell {
  outline: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.markup-cell:first-child {
  background-color: var(--border-color);
}

.ship-field {
  grid-area: 2 / 2 / 12 /12;
  outline: 3px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(10, var(--cell-side-size));
  grid-template-rows: repeat(10, var(--cell-side-size));
  grid-template-areas:
    "a a . b . . c c c c"
    ". . . b . . . . . ."
    "d . . b . e e e . f"
    "d . . . . . . . . f"
    "d . . . . . . . . ."
    "d . . . . g . . . h"
    ". . . . . g . . . h"
    "i i . . . . . . . h"
    ". . . . . . . . . ."
    ". . . . j j j j j j";
}

.ship-cell {
  outline: 1px solid var(--border-color);
}

.ship-1,
.ship-6,
.ship-7,
.ship-9 {
  background-color: var(--two-cells-ship-color);
}

.ship-2,
.ship-5,
.ship-8 {
  background-color: var(--three-cells-ship-color);
}

.ship-3,
.ship-4 {
  background-color: var(--four-cells-ship-color);
}

.ship-1 {
  grid-area: a;
}

.ship-2 {
  grid-area: b;
}

.ship-3 {
  grid-area: c;
}

.ship-4 {
  grid-area: d;
}

.ship-5 {
  grid-area: e;
}

.ship-6 {
  grid-area: f;
}

.ship-7 {
  grid-area: g;
}

.ship-8 {
  grid-area: h;
}

.ship-9 {
  grid-area: i;
}

.ship-10 {
  grid-area: j;
  background-color: var(--six-cells-ship-color);
}
