* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field-container {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
  width: 550px;
  height: 550px;
  margin: 50px auto;
  outline: 4px solid black;
  justify-content: center;
  align-content: center;
}

.markup-cell {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.markup-cell:first-child {
  background-color: #000000;
}

.field {
  grid-area: 2 / 2 / 12 /12;
  outline: 3px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "a a . b . . c c c c"
    ". . . b . . . . . ."
    "d . . b . e e e . f"
    "d . . . . . . . . f"
    "d . . . . . . . . ."
    "d . . . . g . . . h"
    ". . . . . g . . . h"
    "i i . . . . . . . h"
    ". . . . . . . . . ."
    ". . . . j j j j j j";
}

.ship-sell {
  outline: 1px solid black;
}

.ship-1,
.ship-6,
.ship-7,
.ship-9 {
  background-color: #7f007f;
}

.ship-2,
.ship-5,
.ship-8 {
  background-color: #00ff01;
}

.ship-3,
.ship-4 {
  background-color: #0000ff;
}

.ship-10 {
  background-color: #ff4800;
}

.ship-1 {
  grid-area: a;
}

.ship-2 {
  grid-area: b;
}

.ship-3 {
  grid-area: c;
}

.ship-4 {
  grid-area: d;
}

.ship-5 {
  grid-area: e;
}

.ship-6 {
  grid-area: f;
}

.ship-7 {
  grid-area: g;
}

.ship-8 {
  grid-area: h;
}

.ship-9 {
  grid-area: i;
}

.ship-10 {
  grid-area: j;
}
